root = true

[*] # rules that follow apply to files with any extension
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.csproj, *.fsproj, *.props]
indent_size = 2
