redirects: on
source https://www.nuget.org/api/v2/

// We want to depend on FSharp.Core 4.0.0.1, but not require
// that version in the generated nuget package (see paket.template).
//
// If we just specify "FSharp.Core 4.0.0.1" then the nuget package
// has an dependency on that *exact* version.
//
// So, we specify 4.0.0.1 as a minimum bound, and set lowest_matching
// so it won't be updated automatically to a newer one by 'paket update'.
nuget FSharp.Core >= 4.0.0.1 lowest_matching: true

nuget FAKE 4.41.1
nuget xunit.runner.console 2.1.0
nuget xunit.runner.visualstudio 2.1.0 version_in_path: true
nuget xunit.core 2.1.0

github fsprojects/FSharpx.Collections:e2722ce571f4926586ae907413b4a5511f0ef74e src/FSharpx.Collections/Collections.fs
github fsprojects/FSharpx.Collections:e2722ce571f4926586ae907413b4a5511f0ef74e src/FSharpx.Collections/LazyList.fsi
github fsprojects/FSharpx.Collections:e2722ce571f4926586ae907413b4a5511f0ef74e src/FSharpx.Collections/LazyList.fs

nuget Unquote 3.1.2
