redirects: on
storage: none

// Note: it is important that we use groups to separate
// build & test dependencies, or else the test dependencies (Unquote)
// force the versions of FSharp.Core to be higher.

group Build

    framework: netstandard1.6
    storage: none
    source https://www.nuget.org/api/v2/

    // We want to depend on FSharp.Core 4.1.17 (it's the earliest one
    // that supports .NET standard), but not require that version in
    // the generated nuget package (see paket.template).
    //
    // If we just specify "FSharp.Core 4.1.17" then the nuget package
    // has an dependency on that *exact* version.
    //
    // So, we specify 4.1.17 as a minimum bound, and set lowest_matching
    // so it won't be updated automatically to a newer one by 'paket update'.
    nuget FSharp.Core >= 4.1.17 lowest_matching: true

group Test

    framework: netcore2.0
    storage: none
    source https://www.nuget.org/api/v2/

	nuget BenchmarkDotNet 0.11.3
    nuget Unquote 4.0.0
    nuget xunit.runner.console 2.4.1
    nuget xunit.runner.visualstudio 2.4.1
    nuget xunit 2.4.1
