name: master

on:
  push:
    branches: [ master ]

permissions:
  contents: write

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Ensure no Windows line endings
      run: ./validate.sh

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json

    - name: Install dependencies
      run: |
        dotnet restore
        dotnet tool restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --configuration Release

    - name: Generate DocFX metadata
      run: |
        dotnet fsi gen-docfx.fsx Release
        dotnet docfx build docs/docfx.json

    - name: Pack
      run: dotnet pack --no-restore --no-build --configuration Release -o ./packages

    - name: Publish packages
      run: dotnet nuget push ${{ github.workspace }}/packages/**/*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_site

  fable-tests:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json

    - name: Setup NodeJs
      uses: actions/setup-node@v3
      with:
        node-version-file: ".nvmrc"
        
    - name: Install npm packages
      run: npm install
      working-directory: ./tests/Hedgehog.Tests

    - name: Fable Tests (Hedgehog.Tests)
      run: |
        dotnet tool restore
        npm test
      working-directory: ./tests/Hedgehog.Tests
